server:
  port: 8080
  tomcat:
    basedir: .
    accesslog:
      enabled: true
      prefix: access_log
      suffix: .log
      file-date-format: .yyyy-MM-dd
      directory: logs/accesslog
      pattern: common
spring:
  application:
    name: DroptheClothes-API
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://101.101.219.145:3306/DTCDB?serverTimezone=Asia/Seoul&autoReconnection=true
    username: eight
    password: N6*J@rune2%TNr
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: validate
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      use-new-id-generator-mappings: false
    show-sql: true
    properties:
      hibernate.format_sql: true
      dialect: org.hibernate.dialect.MySQL5InnoDBDialect
  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 10MB

jwt:
  token:
    secret-key: secretkeysecretkeysecretkeysecretkeysecretkeysecretkeyOauth2ClientProperties
  access-token:
    expire-length: 1800000
  refresh-token:
    expire-length: 1209600000
springdoc:
  swagger-ui:
    path: /swagger-ui
logging:
  file:
    path: /home1/jenkins/logs/droptheclothes
sk-open-api:
  app-key: l7xx52649a961af54eea84a7532d36ad0006
  geocoding:
    host: https://apis.openapi.sk.com
    endpoint: /tmap/geo/fullAddrGeo
apple:
  client-id:
  key-id: MIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQg1qWaccZVA2xWSHeI K7hUZPbmWgYCLq2k5DCMWIgZGtugCgYIKoZIzj0DAQehRANCAARc6qtB+bq2fKL0 RUH1+fzN9By9k3v3eihCjIFr7nhIepKgjjOvWTzR2qjMomXXmxcB8KDcVlRpa1hC WjBlyEYU
  team-id: XQ24HP64B3
  bundle-id: com.front.eight.bside
  public-key:
    endpoint: https://appleid.apple.com/auth/keys
  token:
    endpoint: https://appleid.apple.com/auth/token
  revoke:
    endpoint: https://appleid.apple.com/auth/revoke
